### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [19]:
total_player = len (purchase_data['SN'].value_counts())

player_count = pd.DataFrame({'Total Player':[total_player]})

player_count

   Total Player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
number_of_unique_items = len((purchase_data['Item ID']).unique())

average_price = (purchase_data['Price']).mean()

number_of_purchases = (purchase_data['Purchase ID']).count()

total_revenue = (purchase_data['Price']).sum()


summary_df = pd.DataFrame ({'Number of Unique Items': [number_of_unique_items],
                            'Average Purchase Price': [average_price],
                            'Number of Purchases': [number_of_purchases],
                            'Total Revenue': [total_revenue]})


summary_df.style.format({'Average Purchase Price':'${:,.2f}',
                        'Total Revenue':'${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [27]:
gender_status = purchase_data.groupby('Gender')

total_gender = gender_status.nunique()['SN']

percent_player = total_gender / total_player * 100


gender_demographics = pd.DataFrame ({'Percentage of Players': percent_player, 'Total Count': total_gender})


gender_demographics.index.name = None


gender_demographics.style.format({'Percentage of Players':'{:,.2f}%',
                        'Total Count':'{:,.0f}'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
purchase_count = gender_status ['Purchase ID'].count()

average_purchase_price = gender_status ['Price'].mean()

average_purchase_total = gender_status ['Price'].sum()

average_purchase_per_person = average_purchase_total / total_gender


gender_demographics = pd.DataFrame ({'Purchase Count': purchase_count,
                                    'Average Purchase Price': average_purchase_price,
                                    'Average Purchase Total per Person': average_purchase_per_person,
                                    'Total Purchase Value': average_purchase_total})


gender_demographics.style.format({'Average Purchase Price':'${:,.2f}',
                                'Average Purchase Total per Person':'${:,.2f}',
                                'Total Purchase Value':'${:,.2f}',})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [35]:
bin_age = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999]

group_name = ['<10', '10-14', '15-19','20-24', '25-29', '30-34', '35-39', '40+']


purchase_data ['Age Group'] = pd.cut(purchase_data ['Age'], bin_age, labels = group_name)

age_grouped = purchase_data.groupby('Age Group')

age_count = age_grouped ['SN'].nunique()

percent_age = age_count / total_player * 100


age_demographics = pd.DataFrame ({'Total Count': age_count, 'Percentage of Players': percent_age})


age_demographics.index.name = None


age_demographics.style.format({'Percentage of Players':'{:,.2f}%'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
perchase_count_age = age_grouped ['Purchase ID'].count()

average_purchase_price_age = age_grouped ['Price'].mean()

average_purchase_total_age = age_grouped ['Price'].sum()

average_purchase_per_person_age = average_purchase_total_age / age_count


age_demographics = pd.DataFrame ({'Purchase Count': perchase_count_age,
                                    'Average Purchase Price': average_purchase_price_age,
                                    'Average Purchase Total per Person': average_purchase_per_person_age,
                                    'Total Purchase Value': average_purchase_total_age})


age_demographics.index.name = 'Age Range'


age_demographics.style.format({'Average Purchase Price':'${:,.2f}',
                               'Average Purchase Total per Person':'${:,.2f}', 
                               'Total Purchase Value':'${:,.2f}',})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [43]:
spenders_status = purchase_data.groupby('SN')


spenders_perchase_count = spenders_status ['Purchase ID'].count()

spenders_average_purchase_price = spenders_status ['Price'].mean()

spenders_average_purchase_total = spenders_status ['Price'].sum()


spenders = pd.DataFrame ({'Purchase Count': spenders_perchase_count,
                        'Average Purchase Price': spenders_average_purchase_price,
                        'Total Purchase Value': spenders_average_purchase_total})


top_spenders = spenders.sort_values(['Total Purchase Value'], ascending=False).head()


top_spenders.style.format({'Average Purchase Price':'${:,.2f}',
                        'Total Purchase Value':'${:,.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
items = purchase_data[['Item ID', 'Item Name', 'Price']]

items_grouped = items.groupby (['Item ID', 'Item Name'])


purchase_count = items_grouped ['Price'].count()

purchase_value = (items_grouped ['Price'].sum())

item_price = purchase_value / purchase_count


popular_items = pd.DataFrame ({'Purchase Count': purchase_count,
                            'Item Price': item_price,
                            'Total Purchase Value': purchase_value})


most_popular_items = popular_items.sort_values(['Purchase Count'], ascending=False).head()


most_popular_items.style.format({'Item Price':'${:,.2f}',
                                'Total Purchase Value':'${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [45]:
most_popular_items = popular_items.sort_values(['Total Purchase Value'], ascending=False).head()


most_popular_items.style.format({'Item Price':'${:,.2f}',
                                'Total Purchase Value':'${:,.2f}'})